<div class="card text-white bg-dark m-0 w-100 h-100 mr-4">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">
                <code>
                    <span class="text-orange">Package&nbsp;</span>
                    <span class="text-white">{{packageBase}}</span>
                </code>
            </div>
            <div class="col-sm-6 text-right">
                <span style="font-size: 30px;" class="mt-2"> {{pathValido?'👌': '🤨'}} </span>
            </div>
        </div>
    </div>
    <div class="card-body bg-dark-body ">
        <div class="row">
            <div class="col-sm-12">
                <form [formGroup]="formularioEntidad">
                    <mat-form-field class="text-white">
                        <mat-label>Nombre clase</mat-label>
                        <input matInput value="" formControlName="nombre" autocomplete="off"
                            (keyup)="previewCode($event.target.value)">
                    </mat-form-field>
                </form>
                <b>
                    <span>ENTIDAD: {{entidadName}} </span><br>
                    <span>BASE: {{packageBase}} </span><br>
                </b>
            </div>
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-primary btn-sm ml-auto" (click)="crearArchivos()">Crear</button>
            </div>
        </div>
    </div>
</div>