.verticaltext {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.center {
    position: absolute;
    bottom: 10px;
}

.split-header {
    background-color: red;
    width: 25px;
    align-items: center;
    white-space: nowrap;
    overflow-y: hidden;
}

.inline {
    display: inline;
}

.table.table-ligth {
    border: 1px dashed orange;
    color: white !important;
}

.table.table-ligth .thead {
    border: 1px solid orange;
    color: white;
}

.table.table-ligth>thead>tr>th {
    padding: 2px 5px !important;
}

.table.table-ligth thead th {
    border-bottom: 1px dashed orange !important;
}

.table.table-ligth tbody td {
    border-top: 1px dashed orange !important;
}

.mat-divider {
    border-top: 1px dashed rgba(255, 166, 0, 0.2) !important;
}

.close {
    opacity: unset !important;
}

.mat-radio-button {
    margin-left: 16px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px;
}