
/**********/
a {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 11px;
    color: white;
    line-height: normal;
}
a.link-file{
    color: #CC7832;
}
a:hover {
    font-weight: 500;
    color: white;
}
a.link-file:hover{
    color: #CC7832;
}

span{
    color: white;
}

span.path{
    width: 200px;
    font-size: 12px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    overflow-x: hidden;
    white-space: nowrap;
}



li {
    margin-left: 0px !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px;
    background-color: transparent !important;
    font-size: 11px;
}

.mat-tree {
    background: transparent !important;
}

.mat-tree-node{
    min-height: 0px;
}

.button-transparent {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    height: 20px;     
}

.mat-icon-rtl-mirror.material-icons{
    font-size: 20px;
}
.material-icons.material-icons-sm{
    font-size: 20px;
}


.opacity{
    background-color: rgba(0, 0, 0, 0.05);
}

.h-500 {
    height: 500px;
}

.list-dir{
    background: rgb(49, 51, 53);
}
