
/**********/
a {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 12px;
    color: white;
    line-height: normal;
}
a.link-file{
    color: rgb(228, 133, 56);
    white-space: nowrap;
    overflow: auto;
}
/* a:hover {
    font-weight: 500;
    color: white;
} */
.icon:hover{
    color: rgba(255, 255, 255, 0.6) !important ;
}
.mat-tree-node:hover > a.link-file,
a.link-file:hover{
    color: orange;
    font-weight: bold;
}

.mat-tree-node:hover > a.link-dir,
a.link-dir:hover{
    color: white;
    font-weight: bold;
}

a.link-file.active{
    color: orange;
    font-weight: bold;
}



span{
    color: white;
}

span.path{
    width: 200px;
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    overflow-x: hidden;
    white-space: nowrap;
}

li {
    margin-left: 0px !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 5px;
    background-color: transparent !important;
    font-size: 11px;
}

.mat-tree {
    background: transparent !important;
}

.mat-tree-node{
    min-height: 0px;
    cursor: pointer;
}


.mat-tree-node:hover{
    background: rgba(255, 255, 255, 0.03) !important ;   
}

.button-transparent {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    height: 20px;     
}

.mat-icon-rtl-mirror.material-icons{
    font-size: 20px;
}
.material-icons.material-icons-sm{
    font-size: 20px;
}

.h-500 {
    height: 500px;
}

.list-dir{
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}


