<div class="card text-white bg-dark m-0 w-100 h-100">
    <div class="card-header p-0 pt-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <div style="margin-left: 30px;">

                </div>
                <a class="nav-item nav-link py-1 pr-2 " data-toggle="tab" href="#" *ngIf="fileOpen != null"
                    (click)="codeViewClick('FILE_OPEN')" [ngClass]="{'active': selectedTab==0}">
                    <i class="material-icons md-12" *ngIf="!isSaved">fiber_manual_record</i>
                    <span> {{fileOpen.nombre}}</span>
                    <button type="button" class="close text-white pl-2 md-16 pt-1" aria-label="Close"
                        (click)="closeCode()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': selectedTab==1}"
                    (click)="codeViewClick('ENTIDAD')">
                    <span> ENTIDAD</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': selectedTab==2}"
                    (click)="codeViewClick('CONTROLADOR')">
                    <span> CONTROLADOR</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': selectedTab==3}"
                    (click)="codeViewClick('SERVICIO')">
                    <span> I SERVICIO</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': selectedTab==5}"
                    (click)="codeViewClick('SERVICIO_IMPL')">
                    <span> SERVICIO IMPL</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': selectedTab==4}"
                    (click)="codeViewClick('REPOSITORIO')">
                    <span> REPOSITORIO</span>
                </a>

            </div>
        </nav>
    </div>
    <div class="card-body p-0 h-100 bg-dark-body">
        <!-- <ngx-codemirror #codemirror [options]="codeMirrorOptions" [(ngModel)]="code"
            (ngModelChange)="setEditorContent($event)">
        </ngx-codemirror> -->
        <ngx-codemirror #codemirror [options]="codeMirrorOptions" [(ngModel)]="code">
        </ngx-codemirror>
    </div>
</div>