<div class="card text-white bg-dark m-0 w-100 h-100">
    <div class="card-header p-0 pt-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <div style="margin-left: 30px;">

                </div>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" *ngIf="fileOpen != null"
                    (click)="codeViewClick('FILE_OPEN')" [ngClass]="{'active': isView('FILE_OPEN')}">
                    <span> {{fileOpen.nombre}}</span>
                    <button type="button" class="close text-white pl-2" aria-label="Close" (click)="closeCode()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': isView('ENTIDAD')}"
                    (click)="codeViewClick('ENTIDAD')">
                    <span> ENTIDAD</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#"
                    [ngClass]="{'active': isView('CONTROLADOR')}" (click)="codeViewClick('CONTROLADOR')">
                    <span> CONTROLADOR</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#" [ngClass]="{'active': isView('SERVICIO')}"
                    (click)="codeViewClick('SERVICIO')">
                    <span> SERVICIO</span>
                </a>
                <a class="nav-item nav-link py-1" data-toggle="tab" href="#"
                    [ngClass]="{'active': isView('REPOSITORIO')}" (click)="codeViewClick('REPOSITORIO')">
                    <span> REPOSITORIO</span>
                </a>

            </div>
        </nav>
    </div>
    <div class="card-body p-0 h-100 bg-dark-body">
        <ngx-codemirror #codemirror [options]="codeMirrorOptions" [(ngModel)]="code"
            (ngModelChange)="setEditorContent($event)">
        </ngx-codemirror>
    </div>
</div>